/********************/
/*		GENERAL		*/
/********************/
body {
	background-color: #304050;
}
.page-content {
	box-shadow: none;
	background-color: #304050;
}
.green {
	color:#22baa0;
}
.red {
	color:#f25656;
}

#main-wrapper .panel:first-child .panel-heading{
	height: 60px;
	margin-bottom: 20px;
	border-bottom: 1px solid #eee !important;
}
#main-wrapper .panel:first-child .panel-title {
	font-size: 17px;
	font-weight: 500;
	padding-left:15px;
}
.table {
	font-size: 14px;
}
.tab-content {
	padding: 50px 30px;
}
.panel{
	box-shadow: none;
}
.panel-heading {
	height: auto !important;
}
/************************/
/*		NAVBARSIDE		*/
/************************/
.page-header-fixed .page-sidebar {
	background-color: #304050;
}
.page-header-fixed .page-sidebar .menu a {
	color: #90a0b0;
}
.page-header-fixed .page-sidebar .menu a:hover,
.page-header-fixed .page-sidebar .menu .active a,
.page-header-fixed .page-sidebar .menu .open a {
	color: #eeeeee;
}
.page-header-fixed .page-sidebar .menu li:hover,
.page-header-fixed .page-sidebar .menu .active,
.page-header-fixed .page-sidebar .menu .open {
	background-color: #203040;
}
.page-header-fixed .page-sidebar .dropdown-menu {
	background-color: #203040;
	border: none;
	margin-bottom: 20px;
	margin-top: 0;
	position: relative !important;
}
.page-header-fixed .page-sidebar .dropdown-menu li:hover {
	background-color: #304050;
}
.page-header-fixed .page-sidebar .dropdown-menu > li > a {
	white-space: normal;
}
.page-header-fixed .page-sidebar .dropdown-menu::after {
	content: none;
}
.page-header-fixed .page-sidebar .dropdown-menu::before {
	content: none;
}
.page-header-fixed .page-sidebar .sidebar-profile img {
	height: 60px;
}

.dropdown .fa {
	font-size: 20px;
	margin-bottom: 8px;
}
/********************/
/*		CONTENT		*/
/********************/
.info-box .counter .glyphicon {
	margin-right: 20px;
}
.info-box .info-box-stats {
	float: none;
	text-align: center;
}
.form-group > small {
	margin-left: 17.6%;
}
.product_image img{
	max-width: 100%;
	max-height: 300px;
}
/************************/
/*		LIST USER		*/
/************************/
.legend .legend-text {
	display: inline-block;
	margin-left: 5px;
	margin-right: 20px;
	vertical-align: sub;
}
.legend .badge {
	border : 1px solid #ddd;
}
.legend .badge-super-admin {
	background-color: #dff0d8;
	color: #dff0d8;
}
.legend .badge-admin {
	background-color: #d9edf7;
	color: #d9edf7;
}
.list-user .img-circle {
	height: 60px;
	width: 60px;
}
.list-user th,
.list-user td {
	vertical-align: middle !important;
}
.list-user .fa {
	font-size: 25px;
}
.list-user .fa-plus-square-o {
	color: #337ab7;
}
.list-user .fa-pencil-square-o {
	color: #00af00;
}
.list-user .fa-times {
	color: #cf1010;
}
.list-user .fa-plus-square-o:hover {
	color: #135a97;
}
.list-user .fa-pencil-square-o:hover {
	color: #108f10;
}
.list-user .fa-times:hover {
	color: #af0000;
}
.list-user a {
	cursor: pointer;
}

/****************************/
/*		PROFILE USER		*/
/****************************/
.profile-user .profile-cover {
	background: rgba(0, 0, 0, 0) url("../img/abstract-q-c-1800-800-1.jpg") repeat scroll 0 0 / cover;
}
.profile-image img {
  height: 150px;
}
/********************/
/*		FOOTER		*/
/********************/
.page-footer p {
	text-align: center;
}

/*************************/
/*		EMPLACEMENT      */
/*************************/
.emplacement .panel .panel-heading .panel-title {
	display: block;
	width: 100%;
}
.emplacement .panel .place .panel-white .panel {
	background: #e2e4e6 none repeat scroll 0 0 !important;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}

.emplacement .panel .panel-heading{
		border: 0 none !important;
    font-size: 14px;
    font-weight: 600;
    height: 55px;
    overflow: hidden;
    padding: 20px 0;
    margin-top: 15px;
    height: 60px;
   // margin-bottom: 20px;

}
.emplacement .place .panel-white .panel{
	background: #f9f9f9 !important;	
	box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.1);
}
.emplacement .panel-heading2{
	border: 0 none !important;
    font-size: 14px;
    font-weight: 600;
    height: 60px;
    margin-top: 15px;
    overflow: hidden;
    padding: 20px 0;
}
.emplacement .place > .col-md-12 {
	padding-left: 15px !important;
}

.nb-columns {
	position: absolute;
	right: 35px;
	margin: 0;
	padding: 0;
	width: 120px;
	z-index:50;
	padding:5px 10px;
	border: 1px solid #eee;
	background: #fff;
}
.nb-columns li{
	list-style: none;
	padding: 2px 0;
	margin: 0;
	font-size: 13px;
}
input[name*="nb_column"] {
	margin-right: 5px;	
}
.columns{
	margin-right:10px;
}
.columns .fa{
	font-size: 14px;
	display: inline-block;
	height: 14px;
}
.columns .fa-check{
	position: absolute;
	right: 55px;
}
.fa-columns {
	cursor: pointer;
}

/**********************/
/*		SORTABLE      */
/**********************/
.connectedSortable {
	width: 100%;
	min-height: 20px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: left;
	margin-right: 10px;
	//box-shadow: 0 0 4px -1px rgba(0, 0, 0, 0.1) inset;

}
.connectedSortable li {
	background: #fff none repeat scroll 0 0;
	border:0;
	border-bottom: 1px solid #ccc;
	border-radius: 3px;
	box-sizing: border-box;
	color: #4e5e6a;
	display: block;
	font-weight: bold;
	margin: 5px;
	padding: 10px 15px;
	text-decoration: none;
}
.connectedSortable .ui-state-highlight {
	background: #fff none repeat scroll 0 0;
    border-radius: 3px;
    box-sizing: border-box;
    cursor: move;
    display: block;
    font-weight: bold;
    margin: 5px auto;
    padding: 8px 15px;
    text-decoration: none;
}
.connectedSortable .ui-state-disabled {
	background: #fff none repeat scroll 0 0;
	opacity:0.6;
}
/*******************/
/*		MODAL      */
/*******************/
.modal-header {
	border-bottom: 1px solid #e5e5e5 !important;
	margin-bottom: 35px;
}
#contenu-select {
    display: none;
}
/********************/
/*		MENU		*/
/********************/
.edit-menu-item, .delete-menu-item {
	 cursor: pointer;
	 position: inherit;
}
#myList {
	padding: 0;
}
.list{
	cursor: move;
	background: #fff none repeat scroll 0 0;
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    border-radius: 3px;
    //color: #333;
    display: block;
    font-weight: bold;
    margin: 5px 0;
    padding: 8px 15px;
    text-decoration: none;
}
.list a{
    color: #4e5e6a;
}
.list a:hover{
	text-decoration: none;
}
.list .delete-menu-item {
	margin-left: 10px;
}
.list .fa {
	font-size: 14px;
}
.ullist{
	margin-top:8px
}
#main-wrapper.config-menu .panel-heading2 {
	border: 0 none !important;
    font-size: 14px;
    font-weight: 600;
    height: 55px;
    overflow: hidden;
    padding: 20px 0;
    margin-top: 15px;
    height: 60px;
   // margin-bottom: 20px;
}
#main-wrapper.config-menu .menu .panel-body {
    padding: 0 20px;
}
#main-wrapper.config-menu .myList{
    border-radius: 3px;
}
#main-wrapper.config-menu .menu {
	background: #e2e4e6 none repeat scroll 0 0 !important;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}
.add-menu{
	cursor: pointer;
}

/****************/
/*    Slider    */
/****************/

.miniature {
	max-width:200px; 
	max-height:100px;
	overflow: hidden;
}
.miniature img{
	max-height: 100px;
}