/********************/
/*		GENERAL		*/
/********************/
.page-content {
	background-color: #304050;
}


/************************/
/*		NAVBARSIDE		*/
/************************/
.page-header-fixed .page-sidebar {
	background-color: #304050;
}
.page-header-fixed .page-sidebar .menu a {
	color: #90a0b0;
}
.page-header-fixed .page-sidebar .menu a:hover,
.page-header-fixed .page-sidebar .menu .active a,
.page-header-fixed .page-sidebar .menu .open a {
	color: #eeeeee;
}
.page-header-fixed .page-sidebar .menu li:hover,
.page-header-fixed .page-sidebar .menu .active,
.page-header-fixed .page-sidebar .menu .open {
	background-color: #203040;
}
.page-header-fixed .page-sidebar .dropdown-menu {
	background-color: #203040;
	border: none;
	margin-bottom: 20px;
	margin-top: 0;
	position: relative !important;
}
.page-header-fixed .page-sidebar .dropdown-menu li:hover {
	background-color: #304050;
}
.page-header-fixed .page-sidebar .dropdown-menu > li > a {
	white-space: normal;
}
.page-header-fixed .page-sidebar .dropdown-menu::after {
	content: none;
}
.page-header-fixed .page-sidebar .dropdown-menu::before {
	content: none;
}
.page-header-fixed .page-sidebar .sidebar-profile img {
	height: 60px;
}

/********************/
/*		CONTENT		*/
/********************/
.info-box .counter .glyphicon {
	margin-right: 20px;
}
.info-box .info-box-stats {
	float: none;
	text-align: center;
}

/************************/
/*		LIST USER		*/
/************************/
.legend .legend-text {
	display: inline-block;
	margin-left: 5px;
	margin-right: 20px;
	vertical-align: sub;
}
.legend .badge {
	border : 1px solid #ddd;
}
.legend .badge-super-admin {
	background-color: #dff0d8;
	color: #dff0d8;
}
.legend .badge-admin {
	background-color: #d9edf7;
	color: #d9edf7;
}
.list-user .img-circle {
	height: 60px;
	width: 60px;
}
.list-user th,
.list-user td {
	vertical-align: middle !important;
}
.list-user .fa {
	font-size: 25px;
}
.list-user .fa-plus-square-o {
	color: #337ab7;
}
.list-user .fa-pencil-square-o {
	color: #00af00;
}
.list-user .fa-times {
	color: #cf1010;
}
.list-user .fa-plus-square-o:hover {
	color: #135a97;
}
.list-user .fa-pencil-square-o:hover {
	color: #108f10;
}
.list-user .fa-times:hover {
	color: #af0000;
}
.list-user a {
	cursor: pointer;
}

/****************************/
/*		PROFILE USER		*/
/****************************/
.profile-user .profile-cover {
	background: rgba(0, 0, 0, 0) url("../img/abstract-q-c-1800-800-1.jpg") repeat scroll 0 0 / cover;
}
.profile-image img {
  height: 150px;
}
/********************/
/*		FOOTER		*/
/********************/
.page-footer p {
	text-align: center;
}
/**********************/
/*		SORTABLE      */
/**********************/

.connectedSortable {
	border: 1px dashed #eee;
	//  background: #fafafa;
	width: 100%;
	min-height: 20px;
	list-style-type: none;
	margin: 0;
	padding: 5px 0;
	float: left;
	margin-right: 10px;
}
.connectedSortable li {
	 background: #fafafa none repeat scroll 0 0;
	border: 1px solid #e7e7e7;
	border-radius: 3px;
	box-sizing: border-box;
	color: #333;
	display: block;
	font-weight: bold;
	margin: 5px;
	padding: 10px 15px;
	text-decoration: none;
	width: calc(100% - 10px);
}
.ui-state-default {
	background: #fafafa none repeat scroll 0 0;
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    box-sizing: border-box;
    color: #333;
    display: block;
    font-weight: bold;
    margin: 5px 0;
    padding: 8px 15px;
    text-decoration: none;
}
.ui-state-highlight {
	cursor: move;
}
