/********************/
/*		GENERAL		*/
/********************/
.page-content {
	background-color: #304050;
}


/************************/
/*		NAVBARSIDE		*/
/************************/
.page-header-fixed .page-sidebar {
	background-color: #304050;
}
.page-header-fixed .page-sidebar .menu a {
	color: #90a0b0;
}
.page-header-fixed .page-sidebar .menu a:hover,
.page-header-fixed .page-sidebar .menu .active a,
.page-header-fixed .page-sidebar .menu .open a {
	color: #eeeeee;
}
.page-header-fixed .page-sidebar .menu li:hover,
.page-header-fixed .page-sidebar .menu .active,
.page-header-fixed .page-sidebar .menu .open {
	background-color: #203040;
}
.page-header-fixed .page-sidebar .dropdown-menu {
	background-color: #203040;
	border: none;
	margin-bottom: 20px;
	margin-top: 0;
	position: relative !important;
}
.page-header-fixed .page-sidebar .dropdown-menu li:hover {
	background-color: #304050;
}
.page-header-fixed .page-sidebar .dropdown-menu > li > a {
	white-space: normal;
}
.page-header-fixed .page-sidebar .dropdown-menu::after {
	content: none;
}
.page-header-fixed .page-sidebar .dropdown-menu::before {
	content: none;
}

/********************/
/*		CONTENT		*/
/********************/
.info-box .counter .glyphicon {
	margin-right: 20px;
}
.info-box .info-box-stats {
	float: none;
	text-align: center;
}

/************************/
/*		LIST USER		*/
/************************/
.list-user .fa {
	font-size: 25px;
}
.list-user .fa-plus-square-o {
	color: #337ab7;
}
.list-user .fa-pencil-square-o {
	color: #00af00;
}
.list-user .fa-times {
	color: #cf1010;
}
.list-user .fa-plus-square-o:hover {
	color: #135a97;
}
.list-user .fa-pencil-square-o:hover {
	color: #108f10;
}
.list-user .fa-times:hover {
	color: #af0000;
}

/********************/
/*		FOOTER		*/
/********************/
.page-footer p {
	text-align: center;
}