/********************/
/*		GENERAL		*/
/********************/

/* #5d9907 */

html,
body {
	font-family: "Lato", Arial;
	font-family: "Open Sans",sans-serif;
}
.page{
	padding-bottom: 30px;
}
.page404{
	padding: 80px 0;
	text-align: center
}
.pull-left {
	float:left;
}
.pull-right {
	float:right;
}

.left,
.middle,
.right {
  height: auto;
}
.slideshow {
  padding: 0;
}
.list-title {
  color: #000 !important;
  font-weight: bold;
  text-transform: uppercase;
}
a {
  color: #777;
}
a:hover {
  color: #777;
}
ul {
  list-style: none;
  padding: 0;
}
hr {
  border-color: #ccc;
}
header .fa , #content-wrapper .fa,footer .fa {
  color: #5d9907;
}
h2{
	font-size: 18px;
	text-transform: uppercase		
}
h5 {
	font-weight: bold;
	text-transform: uppercase;
}
.page h1, .page h2 {
	margin-bottom: 50px;
	color: #1e1e1e;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}
.order button.btn, a.btn {
	background: #ffffff none repeat scroll 0 0;
    border: 2px solid #5d9907;
    color: #5d9907;
    font-size: 14px;
    font-weight: 700;
    height: 35px;
    line-height: 31px;
    margin-left: 5px;
    margin-top: -3px;
    padding: 1px 10px;
    text-align: center;
    //width: 80px;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 0;
}
.carousel-inner a.btn{
	background: transparent none repeat scroll 0 0;
	border: 2px solid #fff;
    color:#fff;	
    margin:10px
}
/****************/
/*    BLOCKS    */
/****************/
#block-slideshow {
  width: 100%;
}
#block-login a {
  color: #777;
  padding: 0 10px;
}
#block-cart {
  color: #5d9907;
}
#block-cart a {
  color: #5d9907;
  margin-left: 15px;
}
#block-informations .fa {
  margin-right: 15px;
}
#block-informations #site-name {
  font-size: 16px;
  font-weight: bold;
}
#block-informations,
#block-article,
#block-map img,
#block-sitemap {
  height: 219px;
}
#block-article h2,
#block-informations h2,
#block-map h2,
#block-sitemap h2 {
  margin-bottom: 20px;
  margin-top: 0;
}
#block-article,
#block-informations,
#block-sitemap {
  padding: 20px;
}
#block-informations h2,
#block-article h2,
#block-sitemap h2 {
  color: #5d9907;
}
#block-sitemap .row {
  height: 25%;
}

#block-article .btn {
	line-height: 12px;
	font-size: 12px;
	padding: 7px 5px;
	height: 30px;
	width: 50px;
	margin-left: 0;
}

/****************/
/*    HEADER    */
/****************/
header {
	margin-top: 40px;
}
nav {
  background-color: #fff !important;
  border: none !important;
  text-align: center;
  padding-top: 30px;	
}
nav > ul {
  display: inline-block;
  float: none !important;
  text-align: center;
  height:150px;
}
.first-ul{
  list-style: none;

} 
nav ul .first-ul {
  display: inline-block;
}
nav ul li {
  height: 100%;
  max-height:150px;
  float: none !important;

}
nav ul li a{
  min-height: 100%;
  max-height:100px;
  padding-bottom:0 !important;
}
nav > ul > li > .list-title {
  display: table-cell !important;
  height: 100px;
  vertical-align: bottom;
  color: #000 !important;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 30px;
}
nav ul li ul li {
  height: auto;
}
nav ul li ul li .list-title {
  margin: 5px 0;
  font-size: 13px;
  color: #5a5a5a !important;
  font-weight:normal;	
}
nav ul li .list-title:hover {
  text-decoration: underline;
}
nav ul li .logo {
  max-height:100px;
  font-size: 30px;
  text-transform: uppercase;
}
nav ul li .logo img {
  min-height: 100px;
  max-height:100px;
}
nav ul li .logo h1 {
  margin: 0;
}

/*****************/
/*    CONTENT    */
/*****************/
#content-wrapper .container {
  padding-top: 20px;
}
.control-label {
	font-weight: 100;
	padding: 7px;
	font-size: 13px;
}

/*    BLOCKS    */
#content-wrapper .container .row {
  padding-bottom: 30px;
}

/*****************/
/*    FOOTER     */
/*****************/
footer {
  margin-bottom: 40px;
}

/*****************/
/*     NAVBAR    */
/*****************/
#adminbar {
	font-size: 13px;
	font-family: "Open Sans",sans-serif;
}

#adminbar .m-r-xs {
    margin-right: 10px;	
}

#adminbar .badge {
    border-radius: 12px !important;
    font-size: 11px !important;
    font-weight: 400;
    height: 18px;
    line-height: 11px !important;
    padding: 3px 6px;
    text-align: center;
    text-shadow: none !important;
    vertical-align: middle;
}

.sidebar-pusher, .search-button {
	display: none;
}

.navbar .logo-box {
	position:relative;
	width:160px;
	height:60px;
	float:left;
	display:table;
}

.navbar .logo-box .logo-text {
	font-size:20px;
	font-weight:bold;
	line-height:60px;
	padding:0 15px;
	vertical-align:middle;
	display:table-cell;
	text-align:center;
}

.navbar .logo-box a:hover,.navbar .logo-box a:focus {
	text-decoration:none;
}

.navbar .logo-box a {
color: #337ab7;
	margin:0 auto;
}

.small-sidebar .navbar .logo-box {
	width:65px;
}

.navbar-nav.navbar-right {
	margin-right:0;
}

.top-menu .navbar-nav > li {
	height:49px;
}

.top-menu .navbar-nav > li > a {
	display:block;
	padding:20px 18px;
	color:#5f5f5f;
	border:none;
	position:relative;
	line-height:20px;
}

.top-menu .nav > li > a:hover,.top-menu .nav > li > a:focus,.top-menu .nav > li > a:active,.top-menu .nav .open > a,.top-menu .nav .open > a:hover,.top-menu .nav .open > a:focus {
	background:transparent;
}

.top-menu .nav .open > a,.top-menu .nav .open > a:hover,.top-menu .nav .open > a:focus {
	background:transparent;
	border-color:none;
}

.top-menu .navbar-nav > li > a > i {
	font-size:14px;
}

.top-menu .navbar-nav > li > a > .badge {
	position:absolute;
	top:12px;
	right:7px;
	padding:3px 6px;
	text-shadow:0 1px 0 rgba(0,0,0,0.3);
	font:11px "Open Sans",sans-serif;
	font-weight: 400;
}

.badge.badge-success {
	background:#22BAA0;
	color:#FFF;
}

.top-menu .navbar-nav > li > a > .user-name {
	padding:0 10px 0 0;
	line-height:20px;
	padding:0 10px 0 0;
	line-height:20px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background-color: #fff;
}

@media (max-width: 991px) {
	.top-menu .navbar-nav > li > a > .user-name {
		display:none;
	}
}

.top-menu .navbar-nav > li > a > .user-name > i {
	margin-left:5px;
}

.avatar {
	padding:0;
	margin:-19px 0 -15px;
	position:relative;
	display:inline-block;
}

.dropdown-menu {
	position:absolute;
	top:100%;
	z-index:1000;
	display:none;
	float:left;
	list-style:none;
	text-shadow:none;
	padding:0;
	margin:10px 0 0;
	background-color:#fffff;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	border:1px solid #d8dee4;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	-ms-border-radius:0;
	-o-border-radius:0;
	border-radius:0;
	-webkit-box-shadow:0 5px 5px -5px rgba(0,0,0,0.1);
	-moz-box-shadow:0 5px 5px -5px rgba(0,0,0,0.1);
	box-shadow:0 5px 5px -5px rgba(0,0,0,0.1);
}

.dropdown-menu li {
	font-size:13px;
}

.dropdown-menu li a:hover {
	background:#f7f7f7;
}

.navbar-nav > li > .dropdown-menu {
	margin-top:25px!important;
}

/*
.dropdown-menu:before {
	position:absolute;
	top:-8px;
	left:9px;
	right:auto;
	display:inline-block!important;
	border-right:8px solid transparent;
	border-bottom:8px solid #d8dee4;
	border-left:8px solid transparent;
	content:'';
}

.dropdown-menu:after {
	position:absolute;
	top:-7px;
	left:10px;
	right:auto;
	display:inline-block!important;
	border-right:7px solid transparent;
	border-bottom:7px solid #fff;
	border-left:7px solid transparent;
	content:'';
}

*/
.dropdown.dropup > .dropdown-menu:after,.dropdown.dropup > .dropdown-menu:before,.btn-group.dropup > .dropdown-menu:after,.btn-group.dropup > .dropdown-menu:before,.dropdown-toggle.dropup > .dropdown-menu:after,.dropdown-toggle.dropup > .dropdown-menu:before {
	display:none!important;
}

.navbar-left .dropdown-menu:before,.dropdown-menu.dropdown-menu-left:before {
	left:16px;
	right:auto;
}

.navbar-left .dropdown-menu:after,.dropdown-menu.dropdown-menu-left:after {
	left:17px;
	right:auto;
}

.navbar-right .dropdown-menu:before,.dropdown-menu.dropdown-menu-right:before {
	right:16px;
	left:auto;
}

.navbar-right .dropdown-menu:after,.dropdown-menu.dropdown-menu-right:after {
	right:17px;
	left:auto;
}

.dropdown-menu.title-caret:after {
	border-bottom:7px solid #fff;
}

.dropdown-menu > li.active > a:hover,.dropdown-menu > li.active > a:focus,.dropdown-menu > li.active > a:active,.dropdown-menu > li.active > a,.dropdown-menu > li.active > a:hover,.dropdown-menu > li.active > a:focus {
	background:#F7F7F7;
	color:#333;
}

.drop-title {
	display:block;
	border-bottom:1px solid #F3F3F3;
	font-size:14px;
	background:#fff;
	padding:12px;
	color:#6a6a6a;
	margin:0;
}

.dropdown-menu li.drop-all a {
	padding:10px;
	color:#707070;
	background:#FFF;
	font-size:14px;
}

.dropdown-menu li.drop-all a:hover {
	background:#f7f7f7;
}

.dropdown-sm {
	width:190px;
}

.dropdown-md {
	width:230px;
}

.dropdown-lg {
	width:280px;
}

.dropdown-menu li a {
	//padding:7px 10px;
	color:#5f5f5f;
	font-size:13px;
}

.dropdown-menu li a i {
	margin-right:10px;
}

.dropdown-menu li.no-link {
	padding:7px 10px;
}

.dropdown-menu li.li-group {
	border-bottom:1px solid #f1f1f1;
	padding:5px 0;
}

.nav .open > a,.nav .open > a:hover,.nav .open > a:focus {
	background-color:#eee;
	border-color:transparent;
}

.navbar .dropdown .dropdown-menu {
	display:block;
	visibility:hidden;
	opacity:0;
	transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-webkit-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	margin-top:40px!important;
}

.navbar .open .dropdown-menu {
	visibility:visible;
	opacity:1;
	margin-top: -30px !important;
}

.navbar .dropdown {
	display:inline-block;
}

.messages {
	max-height:300px;
}

.messages li a {
	color:#bababa;
	font-size:13px;
	padding-left:15px;
	text-decoration:none;
	display:block;
	padding-top:8px;
	padding-bottom:8px;
	position:relative;
}

.messages li a:hover {
	background:#f7f7f7;
}

.messages li {
	border-bottom:1px solid #f3f3f3;
}

.messages li a .msg-img {
	height:100%;
	display:block;
	float:left;
	position:relative;
}

.online {
	position:absolute;
	top:1px;
	right:1px;
	display:block;
	width:10px;
	height:10px;
	border-radius:50%;
	border:2px solid #FFF;
	background:#ccc;
}

.online.on {
	background:#44AEA1;
}

.online.off {
	background:#f3565d;
}

.messages li a img {
	width:40px;
}

.messages li a .msg-name {
	display:block;
	font-size:14px;
	color:#707070;
	padding:0 0 0 10px;
	margin:0;
	float:left;
}

.messages li a .msg-text {
	display:block;
	width:210px;
	text-overflow:ellipsis;
	white-space:nowrap;
	color:#a0a0a0;
	margin:0;
	float:left;
	padding:0 0 0 10px;
}

.messages li a .msg-time {
	font-size:11px;
	display:block;
	width:210px;
	padding:0 4px 0 8px;
	margin:0;
	float:right;
}

.tasks {
	max-height:300px;
}

.tasks li a {
	color:#bababa;
	font-size:13px;
	padding-left:15px;
	text-decoration:none;
	display:block;
	padding-top:10px;
	padding-bottom:10px;
	position:relative;
}

.tasks li {
	border-bottom:1px solid #f3f3f3;
}

.tasks li a:hover {
	background:#f7f7f7;
}

.task-icon.badge {
	height:25px;
	width:25px;
	display:block;
	float:left;
	position:relative;
	margin-right:10px;
	padding-top:6px;
}

.task-icon i {
	text-align:center;
	font-size:12px;
}

.tasks li a .task-details {
	display:block;
	font-size:13px;
	color:#868686;
	padding:3px 0 0;
	margin:0;
	float:left;
	width:148px;
}

.tasks li a .badge {
	margin:0;
	margin-right:5px;
	max-width:85px;
}

#adminbar {
	border:none;
	background:#FFF;
	padding:0;
	height:60px;
	margin:0;
	z-index:999;
	border-radius:0;
	border:none;
	margin:auto;
	position:relative;
	-webkit-box-shadow:0 5px 5px -5px rgba(0,0,0,0.1);
	-moz-box-shadow:0 5px 5px -5px rgba(0,0,0,0.1);
	box-shadow:0 5px 5px -5px rgba(0,0,0,0.1);
	position:fixed;
	right:0;
	top:0;
	left:0;
}

#adminbar ~ header{
	margin-top: 90px;
}

/***************/
/*    login    */
/***************/
.loginblock {
	border: 1px solid #ccc;
	margin-top:10px;
	background: white;
	position: absolute;
	width: 200px;
	padding:20px;
	z-index: 999;
	font-size: 12px;
}
.loginblock .form-signin {
	margin: 0;
}
.form-control {
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #dedede;
    border-radius: 0;
    box-shadow: none;
    color: #828282;
    display: block;
    font-size: 12px;
    line-height: 1.42857;
    margin-bottom: 20px;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    width: 100%;
   }
.loginblock .control-label {
    color: #828282;
    font-family: "Open Sans",sans-serif;
    font-weight: 500;
    font-size: 11px;
}
.loginblock::before {
    border-bottom: 8px solid #d8dee4;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    content: "";
    display: inline-block !important;
    left: 9px;
    position: absolute;
    right: auto;
    top: -8px;
}
.loginblock::after {
    border-bottom: 7px solid #fff;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: "";
    display: inline-block !important;
    left: 10px;
    position: absolute;
    right: auto;
    top: -7px;
}
.loginblock input {
	font-size: 12px;
	margin-bottom: 5px;
}
.loginblock .btn {
font-size: 12px;
}
.input-group-btn .btn{
	height: 34px;
}

/********************/
/*		LIST		*/
/********************/
.article_row,
.content_row {
	padding: 10px;
}
.article_row h2 a,
.content_row h2 a {
	color: #5d9907;
}
.article_row small,
.content_row small {
	color: #777;
}
.article_row hr,
.content_row hr {
	margin-bottom: 0;
	margin-top: 40px;
}

.content_row p {
	margin-top: 20px;
}

/*		VIEW		*/
.article_view h1 {
	margin-bottom: 0;
}
.article_view small {
	color: #777;
	display: block;
	margin-bottom: 30px;
}
.article_view img,
.article_view p {
	display: inline-block;
	vertical-align: top;
}
.article_view p {
	margin: 0 10px;
}
/**************/
/*    CART    */
/**************/
#cart{
	border: 1px solid #ccc;
	margin-top:10px;
	background: white;
	position: absolute;
	width: 260px;
	padding:17px;
	z-index: 999;
	font-size: 12px;	
    color: #828282;
}
#cart::before {
    border-bottom: 8px solid #d8dee4;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    content: "";
    display: inline-block !important;
    left: 9px;
    position: absolute;
    right: auto;
    top: -8px;
}
#cart::after {
    border-bottom: 7px solid #fff;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: "";
    display: inline-block !important;
    left: 10px;
    position: absolute;
    right: auto;
    top: -7px;
}
.deleteproduct{
	cursor: pointer;
	float: right;	
	font-size: 13px;
	padding-left: 8px;
}
.pointer{
	cursor: pointer;
}
.cart_product_line{
	border-bottom: 1px solid #d8dee4;
	padding:7px 0;
	margin-bottom: 0;
	font-size: 12px;
}
.cart_product_line:not(:first-child){
	text-align: right;
}
.cart_product_line .btn-cart{
	display: inline-block;
}
.cart_product_line form{
	display: inline-block;
}
.tab_product{
	width: 100%;
	color: #828282;
}
.tab_product a{
	margin-left: 0 !important;
}
.qty{
	width: 44px;
	text-align: center !important;
}
.total{
	padding-right: 7px;
	padding-top:10px;
	font-weight: bold;
	text-align: right;
}
.order{	
	text-align: center;
	margin-top: 30px;
}
.order .btn {
	width: 100%;
	margin-left: 0 !important;
	background: #5d9907;
	color: #fff !important;
}
#page_cart tr td{
	font-size: 14px;
}
#page_cart .deleteproduct{
	cursor: pointer;
	float: right;	
	font-size: 13px;
	padding-left: 8px;
}
#page_cart .cart_product_line{
	border-bottom: 1px solid #d8dee4;
	padding:20px 0;
	margin-bottom: 0;
	font-size: 14px;
	text-align: left !important;

}
#page_cart .cart_product_line.img{
	width: 170px;
}
#page_cart .cart_product_line .btn-cart{
	display: inline-block;
}
#page_cart .cart_product_line form{
	display: inline-block;
}
#page_cart .tab_product{
	width: 100%;
	color: #828282;
}
#page_cart .tab_product a{
	margin-left: 0 !important;
}
#page_cart .tab_product thead tr td{
	padding: 20px 0;
	border-bottom: 3px solid #d8dee4;
	font-weight: bold;
}
#page_cart .qty{
	width: 44px;
	text-align: left !important;

}
#page_cart .total{
	padding-right: 7px;
	padding-top:10px;
	font-weight: bold;
	text-align: right;
}
#page_cart .order{	
	text-align: center;
	margin-top: 30px;
}
#page_cart .order .btn {
	width: 100%;
	margin-left: 0 !important;
	background: #5d9907;
	color: #fff !important;
}

/************************/
/*			USER		*/
/************************/

.profile-image img {
    border-radius: 50%;
    box-shadow: 0 0 0 5px #fff;
    display: block;
    height: 150px;
    margin: 0 auto;
    width: 150px;
}
.user i.fa {
	margin-right: 10px;
}

/********************/
/*		PRODUCT		*/
/********************/

.p_row {
	border: 1px solid #000;
	display: inline-block;
	height: 150px;
	margin: 35px;
	position: relative;
	width: 150px;
}
.p_row .product_photo,
.p_row .product_photo img,
.p_row .product_details,
.p_row .product_details a {
	height: 100%;
	position: absolute;
	width: 100%;
}
.p_row .product_details {
	opacity: 0;
	transition: all 300ms ease;
}
.p_row .product_details:hover {
	background-color: rgba(255, 255, 255, 0.7);
	opacity: 1;
}