/********************/
/*		GENERAL		*/
/********************/

/* #5d9907 */

html,
body {
	font-family: "Lato", Arial;
}

.pull-left {
	float:left;
}
.pull-right {
	float:right;
}

.left,
.middle,
.right {
  height: auto;
}
.slideshow {
  padding: 0;
}
.list-title {
  color: #000 !important;
  font-weight: bold;
  text-transform: uppercase;
}
a {
  color: #777;
}
a:hover {
  color: #777;
}
ul {
  list-style: none;
  padding: 0;
}
hr {
  border-color: #ccc;
}
header .fa , #content-wrapper .fa,footer .fa {
  color: #5d9907;
}
h2{
	font-size: 18px;
	text-transform: uppercase		
}
h5 {
	font-weight: bold;
	text-transform: uppercase;
}

a.btn {
	background: #ffffff none repeat scroll 0 0;
    border: 2px solid #5d9907;
    color: #5d9907;
    font-size: 14px;
    font-weight: 700;
    height: 35px;
    line-height: 15px;
    margin-left: 5px;
    margin-top: -3px;
    padding: 1px;
    text-align: center;
    width: 80px;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 0;
}

/****************/
/*		BLOCKS		*/
/****************/
#block-slideshow {
  width: 100%;
}
#block-login a {
  color: #777;
  padding: 0 10px;
}
#block-cart {
  color: #5d9907;
}
#block-cart a {
  color: #5d9907;
  margin-left: 15px;
}
#block-informations .fa {
  margin-right: 15px;
}
#block-informations #site-name {
  font-size: 16px;
  font-weight: bold;
}
#block-informations,
#block-article,
#block-map img,
#block-sitemap {
  height: 219px;
}
#block-article h2,
#block-informations h2,
#block-map h2,
#block-sitemap h2 {
  margin-bottom: 20px;
  margin-top: 0;
}
#block-article,
#block-informations,
#block-sitemap {
  padding: 20px;
}
#block-informations h2,
#block-article h2,
#block-sitemap h2 {
  color: #5d9907;
}
#block-sitemap .row {
  height: 25%;
}

#block-article .btn {
	line-height: 12px;
	font-size: 12px;
	padding: 7px 5px;
	height: 30px;
	width: 50px;
	margin-left: 0;
}

/****************/
/*		HEADER		*/
/****************/
header {
	margin-top: 40px;
}
nav {
  background-color: #fff !important;
  border: none !important;
  text-align: center;
  padding-top: 30px;	
}
nav ul {
  display: inline-block;
  float: none !important;
  text-align: center;
}
.first-ul{
  list-style: none;

} 
nav ul .first-ul {
  display: inline-block;
}
nav ul li {
  height: 100px;
  float: none !important;
}
nav ul li .list-title {
  color: #000 !important;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 45px;
}
nav ul li .list-title:hover {
  text-decoration: underline;
}
nav ul li .logo {
  height:80px;
  font-size: 30px;
  text-transform: uppercase;
}
nav ul li .logo img {
  height:80px;
}
nav ul li .logo h1 {
  margin: 0;
}

/*****************/
/*    CONTENT    */
/*****************/
#content-wrapper .container {
  padding-top: 20px;
}

/*    BLOCKS    */
#content-wrapper .container .row {
  padding-bottom: 30px;
}

/*****************/
/*    FOOTER     */
/*****************/
footer {
  margin-bottom: 40px;
}

/*****************/
/*     NAVBAR    */
/*****************/
#adminbar {
	font-size: 13px;
	font-family: "Open Sans",sans-serif;
}

#adminbar .m-r-xs {
    margin-right: 10px;	
}

#adminbar .badge {
    border-radius: 12px !important;
    font-size: 11px !important;
    font-weight: 400;
    height: 18px;
    line-height: 11px !important;
    padding: 3px 6px;
    text-align: center;
    text-shadow: none !important;
    vertical-align: middle;
}

.sidebar-pusher, .search-button {
	display: none;
}

.navbar .logo-box {
	position:relative;
	width:160px;
	height:60px;
	float:left;
	display:table;
}

.navbar .logo-box .logo-text {
	font-size:20px;
	font-weight:bold;
	line-height:60px;
	padding:0 15px;
	vertical-align:middle;
	display:table-cell;
	text-align:center;
}

.navbar .logo-box a:hover,.navbar .logo-box a:focus {
	text-decoration:none;
}

.navbar .logo-box a {
color: #337ab7;
	margin:0 auto;
}

.small-sidebar .navbar .logo-box {
	width:65px;
}

.navbar-nav.navbar-right {
	margin-right:0;
}

.top-menu .navbar-nav > li {
	height:49px;
}

.top-menu .navbar-nav > li > a {
	display:block;
	padding:20px 18px;
	color:#5f5f5f;
	border:none;
	position:relative;
	line-height:20px;
}

.top-menu .nav > li > a:hover,.top-menu .nav > li > a:focus,.top-menu .nav > li > a:active,.top-menu .nav .open > a,.top-menu .nav .open > a:hover,.top-menu .nav .open > a:focus {
	background:transparent;
}

.top-menu .nav .open > a,.top-menu .nav .open > a:hover,.top-menu .nav .open > a:focus {
	background:transparent;
	border-color:none;
}

.top-menu .navbar-nav > li > a > i {
	font-size:14px;
}

.top-menu .navbar-nav > li > a > .badge {
	position:absolute;
	top:12px;
	right:7px;
	padding:3px 6px;
	text-shadow:0 1px 0 rgba(0,0,0,0.3);
	font:11px "Open Sans",sans-serif;
	font-weight: 400;
}

.badge.badge-success {
	background:#22BAA0;
	color:#FFF;
}

.top-menu .navbar-nav > li > a > .user-name {
	padding:0 10px 0 0;
	line-height:20px;
	padding:0 10px 0 0;
	line-height:20px;
}

@media (max-width: 991px) {
	.top-menu .navbar-nav > li > a > .user-name {
		display:none;
	}
}

.top-menu .navbar-nav > li > a > .user-name > i {
	margin-left:5px;
}

.avatar {
	padding:0;
	margin:-19px 0 -15px;
	position:relative;
	display:inline-block;
}

.dropdown-menu {
	position:absolute;
	top:100%;
	z-index:1000;
	display:none;
	float:left;
	list-style:none;
	text-shadow:none;
	padding:0;
	margin:10px 0 0;
	background-color:#fffff;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	border:1px solid #d8dee4;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	-ms-border-radius:0;
	-o-border-radius:0;
	border-radius:0;
	-webkit-box-shadow:0 5px 5px -5px rgba(0,0,0,0.1);
	-moz-box-shadow:0 5px 5px -5px rgba(0,0,0,0.1);
	box-shadow:0 5px 5px -5px rgba(0,0,0,0.1);
}

.dropdown-menu li {
	font-size:13px;
}

.dropdown-menu li a:hover {
	background:#f7f7f7;
}

.navbar-nav > li > .dropdown-menu {
	margin-top:25px!important;
}

.dropdown-menu:before {
	position:absolute;
	top:-8px;
	left:9px;
	right:auto;
	display:inline-block!important;
	border-right:8px solid transparent;
	border-bottom:8px solid #d8dee4;
	border-left:8px solid transparent;
	content:'';
}

.dropdown-menu:after {
	position:absolute;
	top:-7px;
	left:10px;
	right:auto;
	display:inline-block!important;
	border-right:7px solid transparent;
	border-bottom:7px solid #fff;
	border-left:7px solid transparent;
	content:'';
}

.dropdown.dropup > .dropdown-menu:after,.dropdown.dropup > .dropdown-menu:before,.btn-group.dropup > .dropdown-menu:after,.btn-group.dropup > .dropdown-menu:before,.dropdown-toggle.dropup > .dropdown-menu:after,.dropdown-toggle.dropup > .dropdown-menu:before {
	display:none!important;
}

.navbar-left .dropdown-menu:before,.dropdown-menu.dropdown-menu-left:before {
	left:16px;
	right:auto;
}

.navbar-left .dropdown-menu:after,.dropdown-menu.dropdown-menu-left:after {
	left:17px;
	right:auto;
}

.navbar-right .dropdown-menu:before,.dropdown-menu.dropdown-menu-right:before {
	right:16px;
	left:auto;
}

.navbar-right .dropdown-menu:after,.dropdown-menu.dropdown-menu-right:after {
	right:17px;
	left:auto;
}

.dropdown-menu.title-caret:after {
	border-bottom:7px solid #fff;
}

.dropdown-menu > li.active > a:hover,.dropdown-menu > li.active > a:focus,.dropdown-menu > li.active > a:active,.dropdown-menu > li.active > a,.dropdown-menu > li.active > a:hover,.dropdown-menu > li.active > a:focus {
	background:#F7F7F7;
	color:#333;
}

.drop-title {
	display:block;
	border-bottom:1px solid #F3F3F3;
	font-size:14px;
	background:#fff;
	padding:12px;
	color:#6a6a6a;
	margin:0;
}

.dropdown-menu li.drop-all a {
	padding:10px;
	color:#707070;
	background:#FFF;
	font-size:14px;
}

.dropdown-menu li.drop-all a:hover {
	background:#f7f7f7;
}

.dropdown-sm {
	width:190px;
}

.dropdown-md {
	width:230px;
}

.dropdown-lg {
	width:280px;
}

.dropdown-menu li a {
	padding:7px 10px;
	color:#5f5f5f;
	font-size:13px;
}

.dropdown-menu li a i {
	margin-right:10px;
}

.dropdown-menu li.no-link {
	padding:7px 10px;
}

.dropdown-menu li.li-group {
	border-bottom:1px solid #f1f1f1;
	padding:5px 0;
}

.nav .open > a,.nav .open > a:hover,.nav .open > a:focus {
	background-color:#eee;
	border-color:transparent;
}

.navbar .dropdown .dropdown-menu {
	display:block;
	visibility:hidden;
	opacity:0;
	transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-webkit-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	margin-top:40px!important;
}

.navbar .open .dropdown-menu {
	visibility:visible;
	opacity:1;
	margin-top:25px!important;
}

.navbar .dropdown {
	display:inline-block;
}

.messages {
	max-height:300px;
}

.messages li a {
	color:#bababa;
	font-size:13px;
	padding-left:15px;
	text-decoration:none;
	display:block;
	padding-top:8px;
	padding-bottom:8px;
	position:relative;
}

.messages li a:hover {
	background:#f7f7f7;
}

.messages li {
	border-bottom:1px solid #f3f3f3;
}

.messages li a .msg-img {
	height:100%;
	display:block;
	float:left;
	position:relative;
}

.online {
	position:absolute;
	top:1px;
	right:1px;
	display:block;
	width:10px;
	height:10px;
	border-radius:50%;
	border:2px solid #FFF;
	background:#ccc;
}

.online.on {
	background:#44AEA1;
}

.online.off {
	background:#f3565d;
}

.messages li a img {
	width:40px;
}

.messages li a .msg-name {
	display:block;
	font-size:14px;
	color:#707070;
	padding:0 0 0 10px;
	margin:0;
	float:left;
}

.messages li a .msg-text {
	display:block;
	width:210px;
	text-overflow:ellipsis;
	white-space:nowrap;
	color:#a0a0a0;
	margin:0;
	float:left;
	padding:0 0 0 10px;
}

.messages li a .msg-time {
	font-size:11px;
	display:block;
	width:210px;
	padding:0 4px 0 8px;
	margin:0;
	float:right;
}

.tasks {
	max-height:300px;
}

.tasks li a {
	color:#bababa;
	font-size:13px;
	padding-left:15px;
	text-decoration:none;
	display:block;
	padding-top:10px;
	padding-bottom:10px;
	position:relative;
}

.tasks li {
	border-bottom:1px solid #f3f3f3;
}

.tasks li a:hover {
	background:#f7f7f7;
}

.task-icon.badge {
	height:25px;
	width:25px;
	display:block;
	float:left;
	position:relative;
	margin-right:10px;
	padding-top:6px;
}

.task-icon i {
	text-align:center;
	font-size:12px;
}

.tasks li a .task-details {
	display:block;
	font-size:13px;
	color:#868686;
	padding:3px 0 0;
	margin:0;
	float:left;
	width:148px;
}

.tasks li a .badge {
	margin:0;
	margin-right:5px;
	max-width:85px;
}

#adminbar {
	border:none;
	background:#FFF;
	padding:0;
	height:60px;
	margin:0;
	z-index:999;
	border-radius:0;
	border:none;
	margin:auto;
	position:relative;
	-webkit-box-shadow:0 5px 5px -5px rgba(0,0,0,0.1);
	-moz-box-shadow:0 5px 5px -5px rgba(0,0,0,0.1);
	box-shadow:0 5px 5px -5px rgba(0,0,0,0.1);
	position:fixed;
	right:0;
	top:0;
	left:0;
}

#adminbar ~ header{
	margin-top: 90px;
}
