/********************/
/*		GENERAL		*/
/********************/

/* #5d9907 */

html,
body {
	font-family: "Lato", Arial;
}
.left,
.middle,
.right {
  height: auto;
}
.slideshow {
  padding: 0;
}
.list-title {
  color: #000 !important;
  font-weight: bold;
  text-transform: uppercase;
}
a {
  color: #777;
}
a:hover {
  color: #777;
}
ul {
  list-style: none;
  padding: 0;
}
hr {
  border-color: #ccc;
}
.fa {
  color: #5d9907;
}

/****************/
/*		BLOCKS		*/
/****************/
#block-slideshow {
  width: 100%;
}
#block-login a {
  color: #777;
  padding: 0 10px;
}
#block-cart {
  color: #5d9907;
}
#block-cart a {
  color: #5d9907;
  margin-left: 15px;
}
#block-informations .fa {
  margin-right: 15px;
}
#block-informations #site-name {
  font-size: 16px;
  font-weight: bold;
}
#block-informations,
#block-map img,
#block-sitemap {
  height: 249px;
}
#block-informations h2,
#block-map h2,
#block-sitemap h2 {
  margin-bottom: 20px;
  margin-top: 0;
}
#block-informations,
#block-sitemap {
  padding: 20px;
}
#block-informations h2,
#block-sitemap h2 {
  color: #5d9907;
}
#block-sitemap .row {
  height: 25%;
}

/****************/
/*		HEADER		*/
/****************/
header {
	margin-top: 40px;
}
nav {
  background-color: #fff !important;
  border: none !important;
}
nav ul {
  float: none !important;
  text-align: center;
}
nav ul .first-ul {
  display: inline-block;
}
nav ul li {
  float: none !important;
}
nav ul li .list-title {
  color: #000 !important;
  font-weight: bold;
  text-transform: uppercase;
}
nav ul li .list-title:hover {
  text-decoration: underline;
}
nav ul li .logo {
  font-size: 30px;
  text-transform: uppercase;
}
nav ul li .logo h1 {
  margin: 0;
}

/*****************/
/*    CONTENT    */
/*****************/
#content-wrapper .container {
  padding-top: 20px;
}

/*    BLOCKS    */
#content-wrapper .container .row {
  padding-bottom: 30px;
}

/*****************/
/*    FOOTER     */
/*****************/
footer {
  margin-bottom: 40px;
}

